.landing-container {
  min-width: 350px;
  width: 375px;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .text-image-container {
    // border: 1px solid peachpuff;
    margin: 1em;
    width: 90%;
    min-height: 500px;
    .text-container {
      font-size: 2em;
      margin: 0.5em;
    }

    .image-container {
      // border: 1px solid blue;
      width: 340px;
      height: 225px;

      .landing-image {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .login-button {
    justify-content: baseline;
    align-items: center;
  }
}
