.home-container {
  height: 60%;
}
.row {
  display: flex ;
  flex-direction: row;  
  align-content: center;
  justify-content: space-around;  
}

#divContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

#divContainer div {
  flex:1;
}

#landingImage {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* left: 50px; */
  /* bottom: 0px; */
}

