.landing-container {
  min-width: 350px;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .text-image-container {
    margin: 1em;
    width: 90%;
    height: 500px;
    border: 1px solid peachpuff;

    .text-container {
      font-size: 2em;
      margin: 0.5em;
    }

    .image-container {
      width: 340px;
      height: 225px;
      margin: 3em auto;

      .landing-image {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

}

@media screen and (min-width: 425px) {
  .text-image-container {
    width: 100%;
    min-height: 600px;

    
    .image-container {
      margin: auto;
    }
  }
}
