.width500 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.2rem;
  color: white;
  max-width: 500px;
  margin-bottom: 50px;
}
.row {
  display: flex ;
  flex-direction: row;  
  align-content: center;
  justify-content: space-around;  
}

#LandingPageLogin {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.2rem;
  color: white;
  margin-top: 50px;
}

#divContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

#divContainer div {
  flex:1;
}

#landingImage {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* left: 50px; */
  /* bottom: 0px; */
}

