
.containerbox {
    background-color: #8FA582 !important;
}

.containerbox2 {
    background-color: #D9D9D9 !important;
    height: 500px; 
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: white !important; 
}