.nav {
  background-color: var(--green-bg);
  min-height: 3em;
  min-width: 350px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 

  // .nav-title-container {
  //   // display: flex;
  //   .nav-title {
  
  //   }
  // }

  // .logout-button {

  // }
}
