body {
  background: #252525;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row a {
  font-family: 'Fredericka the Great', cursive;
  font-size: 36px;
  color: white;
}

.margin {
  padding: 10px;
}
