body {
}
.backgroundGrey {
    background-color: #525252;
    margin: 10px;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width:400px;
    height: 200px;
}

.title {
    font-size: 24px;
}

.front {
    font-size: 18px;
}


