
.backgroundGrey {
    background-color: #525252;
    margin: 10px;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width:200px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 24px;
}

.front {
    font-size: 18px;
}


