#createNewCard {
    background-color: #8FA582;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    width: 150px;
    text-align: center;
    margin: 10px;
}

#createNewCard a {
    color: white;

}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
}