.containerbox {
  background-color: rgb(35, 35, 35) !important;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 10px 0px 10px 0px;
  box-shadow: 0px 0px 5px rgb(223, 223, 223);
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.containerbox2 {
  background-color: rgb(35, 35, 35) !important;
  height: 500px;
  width: 1500px;
  display: table-cell;
  border: 6px solid rgb(35, 35, 35);
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(223, 223, 223);
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #e3e3e3 !important;
  font-size: 25px;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  text-align: center;
  color: #e3e3e3;
}

.addCardBtn {
  margin-top: 25px;
  padding: 10px 10px;
  width: 20%;
  background-color: rgb(0, 149, 186);
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.addCardBtn:hover {
  background: #ffffff;
  color: rgb(0, 149, 186);
  border: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
